.home.page {
	$mainColor: #F06546;
	section.hero {
		height: 1020px;
		position: relative;
		.videobg {
			z-index: -2;
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			display: flex;
			justify-content: center;
			video {
				height: 120%;

			}
		}

		div.top {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			img.logo {
				width: 20rem;
				margin-right: auto;
				margin-left: auto;
				display: block;
			}
			h1.motto {
				margin-top: 5rem;
				margin-bottom: 5rem;
				text-align: center;
				font-size: 5rem;

				color: $mainColor;
				line-height: 1;
				letter-spacing: .3rem;
			}			
		}


	}
	section.wedo {
		$mainColor: #F06546;
		background-color: white;
		.row.main {
			@include sectionSize();

			h2 {
				@include sectionTitle();
				em {
					color: $mainColor;
					font-style: normal;
				}
				span.small-screen-br {
					display: none;
				}
				@media #{$medium-only},#{$small-only} {
					span.small-screen-br {
						display: inline;
					}					
				}
				.blink {
					font-family: "Source Sans Pro";
					position: relative;
					top: -.8rem;
					color: $mainColor;
					//animation: blink 3s steps(2, start) infinite;
					animation: blink 0.7s infinite;
				}
			}
			p {
				font-size: 1.5rem;
				text-align: justify;
			}
			div.bar {
				@include sectionDivider($mainColor)
			}
			.row.readButton {
				.columns {
					@include sectionButton($mainColor);
				}
			}
		}
	}
	section.se {
		$mainColor: #fad46b;
		background-color: #364347;
		.row.main {
			@include sectionSize();
			h2 {
				@include sectionTitle();
				color: $mainColor;
			}
			div.bar {
				@include sectionDivider($mainColor);
			}			
			.medias {
				$thumbsColor: #d6e1e5;
				margin-top: 1.5rem;
				h3 {
					text-transform: uppercase;
					color: #d6e1e5;
					font-size: 1.5rem;
					text-align: center;
					font-family: $body-font-family;
					font-weight: 700;
					letter-spacing: .09rem;
				}
				.columns {
					overflow: hidden;
				}

				.video {
					padding: 0;
					overflow-y: hidden;
					position: relative;
					cursor: pointer;
					.title {
						position: absolute;
						bottom: -5rem;
						padding: 0.5rem 0;
						height: 5rem;
						width: 100%;
						transition: bottom .3s ease;
						h4 {
							text-align: center;
							color: $thumbsColor;
							font-size: 3rem;
							//text-transform: uppercase;
							font-family: $body-font-family;
							font-weight: 200;
						}
					}
					.thumbnail {
						color: $thumbsColor;
						font-size: 10rem;
						text-align: center;
						background-repeat: no-repeat;
						background-position: center center;
						background-size: cover;                     
						overflow-y: hidden;
						height: 14rem;
						line-height: 14rem;
						transition: line-height .3s ease;
					}
				}
				.video:hover {
					.title { bottom: 0;	}
					.thumbnail { line-height: 10rem; }
				}
				
			}
			.row.registerButton {
				margin-top: 4.07rem;
				.columns {
					@include sectionButton($mainColor);
				}
			}			
		}
	}

	section.team {
		
		$mainColor: #a88cd5;
		background-image: url('/img/people3.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0% 0%;
		.row.main {
			@include sectionSize();

			h2 {
				@include sectionTitle();
				color: $mainColor;
			}
			p {
				font-size: 1.5rem;
				text-align: justify;
			}
			div.bar {
				@include sectionDivider($mainColor)
			}
			.row.readButton {
				margin-top: 4.07rem;
				.columns {
					@include sectionButton($mainColor);
				}
			}
		}		
	}
}
