$navHeight: 6rem;
nav.main {
	$bgColor:#364347;
	$brandColor: #93a4aa;
	padding: 0 2rem;
	width: 100%;
	
	height: $navHeight;
	opacity: .5;
	position: fixed;
	top: 0;
	z-index: 100;
	.row.muted {
		$mutedColor:#b2c6cd;
		max-width: none;
		background-color: transparent;
		text-align: right;
		.brand h1 {
			color: rgba(147, 164, 170, 0.8);
			text-transform: uppercase;
			line-height: $navHeight;
			margin: 0;
			margin-top: .2rem;
			text-align: left;
		}
		.menu {
			$fontSize: 1.7rem;
			i{
				display: inline-block;
				height: $navHeight;
				line-height: $navHeight;
				font-size: $fontSize;
				color: $mutedColor;
			}
		}
	}

}
.navspacer {
	height: $navHeight;
	padding: 0;
	margin: 0;
}