.page.program {
	$originalBg: #364347;
	$oTextColor: white;
	section.intro {
		div.top {
			z-index: -1;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			img.logo {
				width: 20rem;
				margin-right: auto;
				margin-left: auto;
				display: block;
				padding-top: 3rem;
			}
			h1.motto {
				margin-top: 5rem;
				margin-bottom: 3rem;
				text-align: center;
				font-size: 5rem;
				@media #{$small-only} {
					font-size: 3rem;				
				}
				color: rgb(147, 164, 170);
				line-height: 1;
				letter-spacing: .3rem;
				text-transform: uppercase;
				.blink {
					font-family: "Source Sans Pro";
					position: relative;
					top: -.8rem;
					color: $oTextColor;
					animation: blink 0.7s infinite;
				}			
			}
			h2 {
				font-family: $body-font-family;
				color: rgb(147, 164, 170);
				font-weight: 300;
				letter-spacing: .3rem;
			}
			
		}

		div.topholder {
			width: 100%;
			height: 100%;
			position: relative;
			.scroll {
				position: absolute;
				bottom: 0;
				width: 100%;
				text-align: center;
				i {
					color: $oTextColor;
					font-size: 4rem;
					margin-bottom: -.5rem;
				}
			}
		}
		.topholder.bgs {
			position: fixed;
			display: flex;
			justify-content: center;
			align-items: center;
			top:0;
			right: 0;
			z-index: -5;
			width: 100%;
			height: 100%;
			background-color: transparent;
		}
		.topholder.bgs:first-child {
			background-color: $originalBg;
			@include cover("/img/program.jpg");
		}
		.bgs .bg {
			width: 0px;
			height: 0px;
			border-radius: 50%;
			flex-shrink: 0;
		}
		.bgs .bg.com {
			background-color: white;
		}
		.bgs .bg.ve {
			background-color: #364347;
		}
		.bgs .bg.vq {
			background-color: white;
		}
		div.part {
			h1 {
				text-transform: uppercase;
			}
			p {
				text-align: justify;
			}
		}
		div.part.com, div.part.vq {
			margin-top: 30rem;
			background-color: white;
			box-shadow: 0 0 2.5rem 5rem white;		
		}
		div.part.ve {
			margin-top: 30rem;
			background-color: #364347;
			box-shadow: 0 0 2.5rem 5rem #364347;
			h1,p {
				color: white;
			}		
		}	
		.com .pitem, .vq .pitem {
			margin-bottom: 3rem;
			svg {
				path {
					fill: #364347;
				}				
				#icon path, #icon rect, g:nth-child(3) > g:nth-child(2)  path {
					fill: white;
				}			
			}
		
		}
		.ve .pitem {
			margin-bottom: 3rem;
			svg {
				path {
					fill: white;
				}
				#icon path, #icon rect, g:nth-child(3) > g:nth-child(2) > path {
					fill: #364347;
				}			
			}
			svg#euro {
				path {
					fill: white;
				}
				g:nth-child(3) > g:nth-child(2) > path {
					fill: white;
				}
				g:nth-child(3) > g:nth-child(1) path {
					fill: #364347;
				}
			}
		
		}	
	}
}