.week.page {
	$bgColor: #364347;
	$mainColor: #fad46b;
	$mainDark: #f3bc65;
	$textColor: white;
	min-height: 110%;
	background-color: $bgColor;
	section.title {
		@include cover('/img/week.jpg');
		background-attachment: fixed;
		background-position: bottom center;
		.row.main {
			@include sectionSize();
			
			h1 {
				color:$textColor;
				@include sectionTitle();
			}	
			p.tagline {
				text-align: center;
				color: $textColor;
				font-size: 1.5rem;
			}			
		}

	}
	div.week {
		h1 {
			color: white;
		}
	}
	
	.barwrap {
		position: absolute;
		top: 0;
		right: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		.columns {
			.bar {
				background-color: #2B3639;
				height: 100%;
				width: 1.5rem;
				z-index: -1;
			}
			height: 100%;
			width: 1.5rem;
		}	
	}
	section.day {
		position: relative;
		.tlwrap {
			.dotwrap {
				position: relative;
				.dot {
					width: 2rem;
					height: 2rem;
					background-color: $mainDark;
					border-radius: 50%;
					margin-left: -0.25rem;
					margin-top: .5rem;
					position: absolute;
				}
				.dot-around {
					position: absolute;
					width: 3rem;
					height: 3rem;
					background-color: #2B3639;
					border-radius: 50%;
					margin-left: -0.75rem;
					margin-top: 0rem;
					z-index: 0;
					
				}
			}
			h2 {
				color: $mainColor;
				text-transform: uppercase;
			}
			h1 {
				text-align: center;
				color: $mainColor;
				margin-top: 2rem;
				text-transform: uppercase;
			}
			p {
				color: white;
			}
		}
		.title {
			h2 {
				color: $mainColor;
				text-transform: uppercase;
				text-align: right;
			}
			h1 {
				text-align: center;
				color: $mainColor;
				@include sectionTitle();
				margin-top: 2rem;
				font-size: 4rem;
				text-transform: uppercase;
			}
		}
	}
	section.day.tuesday {
		$textEmphasis: #F06546;
		$textColor: #2B3639;
		$bgColor: white;
		.title h2 , .title h1, .tlwrap h2 , .tlwrap h1 {
			color: $textColor;
		}
		background-color: white;
			.bar {
				background-color: #2E2944;
			}
			.tlwrap .dotwrap .dot-around {
				background-color: #2E2944;
			}		
			.tlwrap .dotwrap .dot {
				background-color: $textColor;
			}			
	}
}