/* Settings */

@font-face {
  font-family: 'Norwester';
  src: url('/fonts/norwester.eot?') format('eot'), url('/fonts/norwester.woff') format('woff'), url('/fonts/norwester.ttf') format('truetype');
}
@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; }
}	

$body-font-family: "Source Sans Pro", sans-serif;

$header-font-family: "Norwester","Source Sans Pro", sans-serif;
$header-font-color: #364347;

$anchor-font-color: inherit;
$anchor-font-color-hover: inherit;

@import "../../.meteor/local/build/programs/server/assets/packages/matthew_foundation5-sass/foundation";

//General sytles
@import "utils";
@import "sections";

// Patials styles
@import "nav";
@import "topnav";
@import "footer";

body {
}

// Pages
@import "home";
@import "register";
@import "week";
@import "team";
@import "program";

.loading {
	width: 100%;
	background-color: #364347;
	h1 {
		text-align: center;
		color: white;
		text-transform: uppercase;
	}
	h2 {
		color: #b2c6cd;
		text-align: center;
		font-size: 1rem;
		font-family: $body-font-family;
	}
}

